<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goodplanet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodPlanet">
        <activity
            android:name=".ui.XueXiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LeYangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RootMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.YouxiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JianKangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShengHuoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DingJiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.YuanchengActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>